/ container
#header.container
  .row
    #logo.three.columns
      %h1 Your Logo
    .five.columns.offset-by-three
      %ul.nav-bar
        %li
          %a{:href => "#", :title => ""} About
        %li
          %a{:href => "#", :title => ""} Locations
        %li
          %a{:href => "#", :title => ""} Services
        %li
          %a{:href => "#", :title => ""} Benefits
        %li
          %a{:href => "#", :title => ""} Contact
    .four.columns.text-center
      %a.button-custom{:href => "#", :title => ""}
        %span Important Notifications
/ end container
